[submodule "osx"]
	path = osx
	url = git@github.com:mafrosis/osx-vm-templates.git
[submodule "windows"]
	path = windows
	url = git@github.com:mafrosis/packer-windows.git
[submodule "debian"]
	path = debian
	url = git@github.com:mafrosis/boxcutter-debian.git
[submodule "ubuntu"]
	path = ubuntu
	url = git@github.com:mafrosis/boxcutter-ubuntu.git
